<div class="card">
  <div class="card-image">
    <img src="<%= item.image %>" alt="<%= item.title %>" />
  </div>
  <div class="card-content">
    <h4 class="card-title"><%= item.title %></h4>
    <span class="card-quantity"><%= item.quantity %></span>
    <p class="card-description"><%= item.description %></p>
  </div>
</div>
