<div class="card <%= type %>"
     <%= type === 'podcasts' ? `data-colour="${item['border-color']}"` : '' %>
     <%= type === 'browse' ? `data-colour="${item.color}"` : '' %>>

  <% if (item.pinned && page === "library") { %>
    <%- include("card-pin")  %>
  <% } %>
  <div class="card-image">
    <img src="/<%= item.image %>" alt="<%= item.title || item.name %>" />
  </div>

  <div class="card-content  <%= type %>-content">
    <div class="card-content-top">
      <h4 class="card-title"><%= item.title || item.name %></h4>

      <% if (type === "mix") { %>
        <p class="card-quantity" data-colour="<%= item['rating-color'] %>">50</p>
      <% } %>

      <% if (type === "album") { %>
        <p class="card-quantity">13</p>
      <% } %>
    </div>

    <% if (item.description && type !== 'browse') { %>
      <p class="card-description"><%= item.description %></p>
    <% } %>

    <% if (item.artist) { %>
      <p class="card-sub"><%= item.artist %></p>
    <% } %>

    <% if (item.author) { %>
      <p class="card-sub"><%= item.author %></p>
    <% } %>
  </div>
</div>
