<aside class="sidebar">
  <%# Sidebar navigation menu %>
  <nav class="sidebar-nav">
    <ul class="sidebar-menu">
      <%# My Library link %>
      <li class="sidebar-library"  >
        <a
          href="/library"
          class="nav-btn <%= ['/library','/pins','/playlists','/liked','/saves','/albums','/folders','/podcasts','/audiobooks','/artists'].includes(currentPage) ? 'active' : '' %>"
        >
        <%# Library SVG icon %>  
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2_4292)">
              <path
                d="M11.5605 11.5625V28.8493"
                stroke-width="2.02054"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.3242 11.5625V28.8493"
                stroke-width="2.02054"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M23.0859 28.8493V11.5625L28.8482 15.5518V28.8493H23.0859Z"
                stroke-width="2.02054"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_2_4292">
                <rect width="40.4108" height="40.4108" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <span>My Library</span>
        </a>
      </li>
      <%# Pins link %>
      <li>
        <a href="/pins" class="nav-btn <%= currentPage === '/pins' ? 'active' : '' %>">
          <%# Pins SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M23.985 11.0905L22.4672 9.57265M23.985 11.0905L17.2847 17.7909C17.1615 17.914 17.0007 17.9923 16.8279 18.0133L14.0746 18.348C13.43 18.4264 13.1587 19.2127 13.6179 19.6719L17.5464 23.6004M23.985 11.0905L30.0564 17.1618M31.5742 18.6797L30.0564 17.1618M30.0564 17.1618L23.356 23.8622C23.2329 23.9853 23.1546 24.1461 23.1336 24.319L22.7989 27.0723C22.7205 27.7168 21.9341 27.9881 21.475 27.529L17.5464 23.6004M17.5464 23.6004L12.3786 28.7682"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span>Pins</span>
        </a>
        <%# Right arrow for expandable items %>
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="sidebar-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Playlists link %>
      <li>
        <a href="/playlists" class="nav-btn <%= currentPage === '/playlists' ? 'active' : '' %>">
          <%# Playlists SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="20" rx="3" transform="matrix(1 0 0 -1 10.0762 31.3301)" fill="none" />
            <path
              d="M12.0762 11.3301H28.0762C28.0762 9.67322 26.733 8.33008 25.0762 8.33008H15.0762C13.4193 8.33008 12.0762 9.67322 12.0762 11.3301Z"
              stroke-width="1.5"
              stroke-linejoin="round"
              fill="none"
            />
            <path
              d="M20.5887 22.286V16.9551C20.5887 16.6099 20.8685 16.3301 21.2137 16.3301H23.3301M20.5887 22.286V25.303C20.5887 25.8578 20.1948 26.3413 19.6401 26.3289C18.6781 26.3075 17.3301 25.9738 17.3301 24.2713C17.3301 21.6242 20.5887 22.286 20.5887 22.286Z"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              fill="none"
            />
          </svg>
          <span>Playlists</span>
        </a>
        <svg class="sidebar-arrow" viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Liked Songs link %>
      <li>
        <a href="/liked" class="nav-btn <%= currentPage === '/liked' ? 'active' : '' %>">
          <%# Heart icon for liked songs %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M22.0683 13.5685L20.2045 15.3745L18.3406 13.5685C16.3863 11.6749 13.2511 11.7794 11.4273 13.7991C9.65749 15.7589 9.41384 18.6943 11.0164 20.793C11.2133 21.0509 11.407 21.2979 11.5913 21.524C12.7577 22.9549 15.3027 25.4539 16.5778 26.7949C17.5199 27.7857 18.3668 28.6121 19.0047 29.214C19.6784 29.8496 20.7184 29.8357 21.3934 29.2014C22.5698 28.0961 24.3737 26.3743 25.6444 25.0379C26.9195 23.6969 27.6512 22.9549 28.8177 21.524C29.0019 21.2979 29.1956 21.0509 29.3925 20.793C30.9951 18.6943 30.7514 15.7589 28.9817 13.7991C27.1578 11.7794 24.0227 11.6749 22.0683 13.5685Z"
              stroke-width="2.02054"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <span>Liked songs</span></a
        >
        <%# Right arrow for mobile view %>
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Saves link %>
      <li>
        <a href="/saves" class="nav-btn <%= currentPage === '/saves' ? 'active' : '' %>">
          <%# Saves SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12.3242 12.3998V28.7036C12.3242 29.647 13.3906 30.1957 14.1582 29.6474L19.0949 26.1212C19.9014 25.5451 20.9849 25.5451 21.7915 26.1212L26.7281 29.6474C27.4958 30.1957 28.5621 29.647 28.5621 28.7036V12.3998C28.5621 11.1186 27.5236 10.0801 26.2424 10.0801H14.6439C13.3628 10.0801 12.3242 11.1186 12.3242 12.3998Z"
              stroke-width="2.3197"
            />
          </svg>
          <span>Saves</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Albums link %>
      <li>
        <a href="/albums" class="nav-btn <%= currentPage === '/albums' ? 'active' : '' %>">
          <%# Albums SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20.2065" cy="20.2065" r="2.75528" stroke-width="2.02054" />
            <path
              d="M20.2062 30.3089C14.6267 30.3089 10.1035 25.7858 10.1035 20.2062C10.1035 14.6267 14.6267 10.1035 20.2062 10.1035C23.1189 10.1035 25.7436 11.3361 27.5873 13.3081"
              stroke-width="2.02054"
              stroke-linecap="round"
              fill="none"
            />
            <path
              d="M29.2974 17.5801V25.1571M29.2974 25.1571V28.9201C29.2974 29.6692 28.7638 30.3226 28.0151 30.299C26.7768 30.26 25.0879 29.8159 25.0879 27.6828C25.0879 24.3152 29.2974 25.1571 29.2974 25.1571Z"
              stroke-width="1.68378"
              stroke-linecap="round"
              stroke-linejoin="round"
              fill="none"
            />
          </svg>
          <span>Albums</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Folders link %>
      <li>
        <a href="/folders" class="nav-btn <%= currentPage === '/folders' ? 'active' : '' %>">
          <%# Folders SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M30.832 26.3301C30.832 27.9869 29.4889 29.3301 27.832 29.3301H11.832C10.1752 29.3301 8.83203 27.9869 8.83203 26.3301V14.1301V13.8301C8.83203 12.1732 10.1752 10.8301 11.832 10.8301H16.1917C17.2138 10.8301 18.1657 11.3505 18.7173 12.2111L19.0622 12.7491C19.6138 13.6096 20.5656 14.1301 21.5878 14.1301H27.832C29.4889 14.1301 30.832 15.4732 30.832 17.1301V26.3301Z"
              stroke-width="2"
              stroke-linejoin="round"
            />
          </svg>
          <span>Folders</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Podcasts link %>
      <li>
        <a href="/podcasts" class="nav-btn <%= currentPage === '/podcasts' ? 'active' : '' %>">
          <%# Podcasts SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M19.9316 13.7771V19.7066C19.9316 22.1626 21.9227 24.1536 24.3787 24.1536C26.8348 24.1536 28.8258 22.1626 28.8258 19.7066V18.7183V13.7771C28.8258 11.3211 26.8348 9.33008 24.3787 9.33008C21.9227 9.33008 19.9316 11.3211 19.9316 13.7771Z"
              stroke-width="2.016"
              stroke-linecap="round"
            />
            <path
              d="M15.9785 20.2012C15.9785 20.2012 16.9668 28.1071 24.3785 28.1071M24.3785 28.1071C31.7903 28.1071 32.7786 20.2012 32.7786 20.2012M24.3785 28.1071V31.5659"
              stroke-width="2.016"
              stroke-linecap="round"
            />
            <path d="M7.57812 14.3711H13.4581" stroke-width="2.016" stroke-linecap="round" />
            <path d="M7.57812 21.0898H11.7781" stroke-width="2.016" stroke-linecap="round" />
            <path d="M7.57812 27.8105H13.4581" stroke-width="2.016" stroke-linecap="round" />
          </svg>

          <span>Podcasts</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Audiobooks link %>
      <li>
        <a href="/audiobooks" class="nav-btn <%= currentPage === '/audiobooks' ? 'active' : '' %>">
          <%# Audiobooks SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M20.3301 30.3301L11.7925 27.9475C10.928 27.7062 10.3301 26.9186 10.3301 26.0211V12.8486C10.3301 11.561 11.529 10.6089 12.7831 10.9006L18.7831 12.2959C19.689 12.5066 20.3301 13.3139 20.3301 14.2439V30.3301ZM20.3301 30.3301L28.8677 27.9475C29.7322 27.7062 30.3301 26.9186 30.3301 26.0211V12.9126C30.3301 11.6049 29.0958 10.649 27.8297 10.9762L23.1301 12.1905"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              fill="none"
            />
          </svg>
          <span>Audiobooks</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
      <%# Artists link %>
      <li>
        <a href="/artists" class="nav-btn <%= currentPage === '/artists' ? 'active' : '' %>">
          <%# Artists SVG icon %>
          <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M30.832 26.3301C30.832 27.9869 29.4889 29.3301 27.832 29.3301H11.832C10.1752 29.3301 8.83203 27.9869 8.83203 26.3301V14.1301V13.8301C8.83203 12.1732 10.1752 10.8301 11.832 10.8301H16.1917C17.2138 10.8301 18.1657 11.3505 18.7173 12.2111L19.0622 12.7491C19.6138 13.6096 20.5656 14.1301 21.5878 14.1301H27.832C29.4889 14.1301 30.832 15.4732 30.832 17.1301V26.3301Z"
              stroke-width="2"
              stroke-linejoin="round"
            />
          </svg>
          <span>Artists</span></a
        >
        <svg viewBox="0 0 41 41" xmlns="http://www.w3.org/2000/svg" class="mobile-arrow">
          <path
            d="M18.5229 25.2578L23.5742 20.2065L18.5229 15.1551"
            stroke-width="2.3573"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </li>
    </ul>
  </nav>
</aside>
