<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/sidebar') %>

      <div class="right">
        <%- include('partials/header') %>
        <div class="content-wrapper">
          <main class="main-content">
            <!-- Top Buttons -->
            <div class="filter-buttons">
              <button class="filter-btn active" data-filter="all">All</button>
              <button class="filter-btn" data-filter="music">Music</button>
              <button class="filter-btn" data-filter="artists">Artists</button>
              <button class="filter-btn" data-filter="audiobooks">Audiobooks</button>
              <button class="filter-btn" data-filter="podcasts">Podcasts</button>
              <button class="filter-btn" data-filter="episodes">Episodes</button>
            </div>
            <!-- Made For You Section -->
            <section class="section" data-category="music">
              <div class="section-title">
                <h3>Made for you</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.mixes.slice(0,12).forEach(item => { %>
                  <%- include('partials/card', { item, type: 'mix' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Top Mixes Section -->
            <section class="section" data-category="music">
              <div class="section-title">
                <h3>Your top mixes</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>

              <div class="cards-viewport">
                <div class="card-container">
                  <% data.mixes.slice(12,20).forEach(item => { %>
                  <%- include('partials/card', { item, type: 'mix' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Favorite Artists Section -->
            <section class="section" data-category="artists">
              <div class="section-title">
                <h3>Your favorite artists</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.artists.forEach(item => { %>
                  <%- include('partials/card', { item, type: 'artist' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Albums Section -->
            <section class="section" data-category="music">
              <div class="section-title">
                <h3>Albums for You</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.albums.forEach(item => { %>
                  <%- include('partials/card', { item, type: 'album' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Audiobooks Section -->
            <section class="section" data-category="audiobooks">
              <div class="section-title">
                <h3>Audiobooks for you</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.audiobooks.forEach(item => { %>
                  <%- include('partials/card', { item, type: 'audiobooks' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Podcasts Section -->
            <section class="section" data-category="podcasts">
              <div class="section-title">
                <h3>Podcasts for you</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.podcasts.forEach(item => { %>
                  <%- include('partials/card', { item, type: 'podcasts' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
            <!-- Your Episodes Section -->
            <section class="section" data-category="episodes">
              <div class="section-title">
                <h3>Episodes for you</h3>
                <%- include('partials/actions', {type : 'homepage'}) %>
              </div>
              <div class="cards-viewport">
                <div class="card-container">
                  <% data.podcasts.forEach(item => { %>
                  <%- include('partials/card', { item, type: 'episodes' }) %>
                  <% }) %>
                </div>
              </div>
            </section>
          </main>
          <%- include('partials/friends') %>
        </div>
        <%- include('partials/player') %>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
