<!DOCTYPE html>
<html>
  <head>
    <title>Spotify</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('partials/sidebar') %>

      <div class="right">
        <%- include('partials/header') %>

        <main class="main-content">
          <section class="section">
            <div class="section-title">
              <h3>Recent searches</h3>
              <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="11.7853" cy="20.2072" r="1.68378" fill="#898989" />
                <circle cx="20.2053" cy="20.2072" r="1.68378" fill="#898989" />
                <circle cx="28.6232" cy="20.2072" r="1.68378" fill="#898989" />
              </svg>
            </div>
            <div class="cards-viewport">
              <div class="card-container">
                <% data.artists .filter(a => a.name === "Daft Punk" || a.name === "David Bowie") .forEach(a => { %>

                <div class="card artist">
                  <div class="card-image">
                    <img src="/<%= a.image %>" alt="<%= a.name %>" />
                  </div>

                  <div class="card-content">
                    <div class="card-content-top">
                      <div class="card-title"><%= a.name %></div>
                    </div>
                  </div>
                </div>

                <% }) %>

                <% data.albums .filter (alb => alb.title === "Black Holes and Revelations") .forEach(alb => { %>

                <div class="card album">
                  <div class="card-image">
                    <img src="/<%= alb.image %>" alt="<%= alb.title %>" />
                  </div>

                  <div class="card-content">
                    <div class="card-content-top">
                      <div class="card-title"><%= alb.title %></div>
                    </div>
                    <div class="card-description"><%= alb.description %></div>
                  </div>
                </div>

                <% }) %>
              </div>
            </div>
          </section>

          <!-- ✅ BROWSE ALL -->
          <h3>Browse all</h3>
          <% data.browse.forEach(section => { %>
          <section class="section">
            <div class="section-title">
              <h4><%= section.category %></h4>
              <% if (
          section.category === "Discover" ||
          section.category === "Genres" ||
          section.category === "Mood & Activity"
        ) { %>
              <%- include('partials/actions', { type: 'search' }) %>
              <% } %>
            </div>

            <div class="cards-viewport">
              <div class="card-container">
                <% section.items.forEach(item => { %>
                <div class="card mix search-card" data-color="<%= item.color %>">
                  <div class="card-title-search"><%= item.title %></div>
                  <img class="card-image-search" src="/<%= item.image %>" alt="<%= item.title %>" />
                </div>
                <% }) %>
              </div>
            </div>
          </section>
          <% }) %>
        </main>
        <%- include('partials/player') %>
      </div>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
